{{!-- <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login " >
                <div class="card-body " style="border-radius: 1rem;background-color:#FAF9F6">
                    {{#if loginErr}}
                    <p class="alert alert-danger text-center">{{loginErr}}</p>
                    {{/if}}
                    <h4 class="card-title mb-4">Sign in</h4>
                    <form action="/userLogin" method="post">
                        <div class="mb-3">
                            <input class="form-control" placeholder="Username or email" type="text" name="mobile">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input class="form-control" placeholder="Password" type="password" name="password">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <a href="#" class="float-end font-sm text-muted">Forgot password?</a>
                            <label class="form-check">
                                <input type="checkbox" class="form-check-input" checked="" >
                                <span class="form-check-label">Remember</span>
                            </label>
                        </div> <!-- form-group form-check .// -->
                        <div class="mt-5 mb-4">
                            <button type="submit" class="btn btn-primary w-100"> Login </button>
                        </div> <!-- form-group// -->
                    </form>
                    <p class="text-center small text-muted mb-15">or sign up with</p>
                    <p class="text-center mb-4">Don't have account? <a href="/userSignUp">Sign up</a></p>
                </div>
            </div>
        </section> --}}

{{!-- bro below is working login --}}

<main class="main">
<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="index.html" rel="nofollow">Home</a>
            <span></span> Pages
            <span></span> Login 
        </div>
    </div>
</div>
<section class="pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Login</h3>
                                </div>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Your Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div>
                                        {{#if loginError}}
                                        <p style="color: red;">{{loginError}}</p>
                                        {{/if}}

                                        {{#if statusError}}
                                        <p style="color: red;">{{statusError}}</p>
                                        {{/if}}
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="text-muted text-center">Don't have an account? <a href="/signup">Sign Up</a></div>  
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="text-muted text-center"><a href="/login-otp">Login using OTP</a></div>  
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
</main>


{{!-- login with modal , dimensions not set --}}
{{!-- 
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Login 
                </div>
            </div>
        </div>
        <!-- Modal -->
    <div class="modal fade custom-modal" id="onloadModal" tabindex="-1" aria-labelledby="onloadModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Login</h3>
                                        </div>
                                        <form method="post">
                                            <div class="form-group">
                                                <input type="text" required="" name="email" placeholder="Your Email">
                                            </div>
                                            <div class="form-group">
                                                <input required="" type="password" name="password" placeholder="Password">
                                            </div>
                                            <div class="login_footer form-group">
                                               <div class="text-muted text-center">Don't have an account? <a href="#">Sign Up</a></div>
                                               
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
    </main>
     --}}